

<div>
        <div ng-if="showweatherInfo" class="padding-top-30">
                <div>
                    <h3>Forecast for complete week</h3>
                </div>
                <br></br>
                <div class="">
                <table>
                    <tbody>
                        <tr>
                            <th>Date</th>   
                            <th>Humidity</th>
                            <th>Temparature</th>
                            <th>Max Temperature</th>
                            <th>Min Temperature</th>
                            <th>wind</th>
                            
                        </tr>
                        <tr ng-repeat = "list in forecastList track by $index">
                                <td>{{list.dt_txt}}</td>    
                                <td>{{list.main.humidity}}%</td>
                                <td>{{list.main.temp}}</td>
                                <td>{{list.main.temp_max}}</td>
                                <td>{{list.main.temp_min}}</td>
                                <td>{{list.wind.speed}} m/s </td>
                        </tr>
                        
                    </tbody>
                    </table>
                </div>
                
              </div>

<div>